html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(0, 0, 84);
  color: white;
}

#app {
  min-height: 100vh;
}

.selector_container {
  display: flex;
  gap: 1em;
}

.SelectorCard {
  background-color: rgb(51, 70, 133);
  color: white;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 30px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  margin-left: 80px;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  height: 50px;
  width: 200px;
  align-self: flex-start;
}

.SelectorCard button {
  background-color: rgb(51, 70, 133);
  font-size: 35px;
  padding: 10px 25px;
  border-radius: 10px;
  cursor: pointer;
}

.FlashCard {
  background-color: rgb(51, 70, 133);
  color: white;
  width: 800px;
  height: 400px;
  padding: 20px;
  font-family: sans-serif;
  font-size: auto;
  text-align: center;
  border-radius: 15px;
  margin-left: 80px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.flip-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.7s;
  transform-style: preserve-3d;
  position: relative;
}

.flip-front,
.flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-back {
  transform: rotateY(180deg);
}

/* When flipped */
.flipped .flip-inner {
  transform: rotateY(180deg);
}

.terms_container {
  margin-left: 80px;
}

.TermsBox {
  background-color: rgb(51, 70, 133);
  color: white;
  width: 1100px;
  height: auto;
  padding: 20px;
  font-family: sans-serif;
  font-size: 18px;
  border-radius: 8px;
  margin-left: 20px;
  margin-bottom: 20px;
  display: flex;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.term {
  text-align: left;
  margin-left: 10px;
  margin-right: 50px;
}

.definition {
  text-align: left;
  margin-left: 5px;
  margin-right: 10px;
}
.Arrows {
  margin-left: 80px;
  margin-top: 10px;
}

.Arrows button {
  background-color: rgb(51, 70, 133);
  color: white;
  font-size: 35px;
  padding: 10px 25px;
  border-radius: 10px;
  cursor: pointer;
}
.Arrows button:hover {
  background-color: rgb(179, 179, 179);
}
